.noScroll {
  overflow: hidden;
}

.produkliste img {
  cursor: pointer;
}

img:hover {
  opacity: 0.7;
  filter: drop-shadow(0 0 15px black);
  transform: scale(1.1);
}

.rabat p:last-child {
  background-color: rgb(221, 10, 10);
  padding: 0.1rem;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
  justify-content: space-between;
  padding: 0.2rem;
}

.produkliste .produkt .rabat {
  display: flex;
  justify-content: space-between;
}

/* UDSOLGT */
.udsolgt img {
  opacity: 0.4;
}
.udsolgt img:hover {
  opacity: 0.4;
  filter: none;
  transform: none;
}
.udsolgt a {
  display: none;
}
.udsolgt_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: 3px solid #f15c60;
  border-radius: 10px;
  color: #f15c60;
  font-size: 20px;
  transform: rotate(15deg) translateY(15px);
}
